@font-face {
    font-family: RoxboroughCF;
    src: url("../fonts/RoxboroughCF-Regular.woff2") format("woff2"),
        url("../fonts/RoxboroughCF-Regular.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: RoxboroughCF-Bold;
    src: url("../fonts/RoxboroughCF-Bold.woff2") format("woff2"),
        url("../fonts/RoxboroughCF-Bold.woff") format("woff");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
}