*, *::before, *::after{
    box-sizing: inherit;
}

p{
    text-align: justify;
}

a{
    text-decoration: none;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 16px;
    background-color: #333652;
}

html, textarea{
    font-family: 'Roboto', sans-serif;
}

html, #connect a{
    color: #e9eaec;
}

header{
    position: fixed;
    height: 50px;
    justify-content: space-between;
    width: 95%;
    z-index: 50;
    font-size: 20px;
    background-color: none;
}
 
header, header a{
    color: #fad02c;
}

h2{
    font-weight: 700;
    color:#fad02c;
}

h3, #connect>p{
    color: #e9eaec;
    font-size: 30px;
    font-weight: 500;
}

.font_18{
    font-size: 18px;
}

.font_20{
    font-size: 20px;
}

.font_40{   
    font-size: 40px;
}

.margin_top_50{
    margin-top: 50px;
}

/* flex classes */
.flx_row{
    display: flex;
    flex-direction: row;
}

.flx_col{
    display: flex;
    flex-direction: column;
}

.align_itm_center{
    align-items: center;
}

.space_evenly{
    justify-content: space-evenly;
}
/* flex classes */

.img_bg_visual{
    background-color: #e9eaec;
    margin-bottom: 10px;
}

#burger+ul a{
    padding: 14px;
}

#navbar a{
    transition: background-color .8s;
    border-radius: 5px;
}

#main_panel{
    position: relative;
    width: 100%;
    /* max-width: 1280px; */
    background-image: url("assets/bg.jpg");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

#main_panel>article{
    /*modern browser only*/
    /* aspect-ratio: 16 / 9; */
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    /* width: calc(100vmin * (16 / 9)); */
    min-height: 100vmin;
    max-width: 900px;
    width: 100%;
    padding: 0 10px;
}

#intro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0 100px; */
}

#contact_me{
    display: flex;
    justify-content: center;
}

#dp{
    max-width: 350px;
    /* border: 10px solid #087a99; */
    border-radius: 50%;
    overflow: hidden;
}

#dp+section{
    min-height: 400px;
    max-width: 500px;
    justify-content: space-between;
}

#intro div:last-child{
    flex-grow: 1;
    justify-content: space-evenly;
}

#intro h2>span{
    font-size: 26px;
    margin-left: 5px;
}

#intro h2{
    font-family: 'Bebas Neue', sans-serif;
}

#skill img{
    width: 90px;
    height: 90px;
}

#skill ul, #projects ul{
    margin: 20px 0 20px 30px;
}

h3+ul li, #projects h2+ul li{
    background-color: #90adc6;
    border-radius: 10px;
    padding: 10px 10px 20px;
}

#projects, #skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects a{
    color: #e9eaec;
}

#projects img, #projects div{
    max-width: 270px;
}

#projects div p:first-of-type{
   margin-bottom: 20px;
}

#projects h3{
    margin-bottom: 30px;
}

#intro>section>div:nth-child(2), #connect ul, footer{
    font-size: 18px;
}

#connect{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#connect li{
    padding-left: 20px;
    margin-top: 20px;
}

#connect li img{
    margin-right: 20px;
    max-width: 35px;
}

#connect li p{
    border-bottom: 2px solid transparent;
    transition: border-bottom .5s;
}

fieldset{
    border-radius: 10px;
    border: 2px solid #fad02c;
    padding: 10px 10px 15px;
}

#contact_form{
    display: flex;
    align-items: center;
}

#contact_form legend{
    text-align: center;
    padding: 0 10px;
    font-size: 20px;
    color: #e9eaec;
}

input, textarea{
    width: 100%;
    font-size: 16px;
    padding: 2px 0 2px 5px;
    margin-bottom: 10px;
}

input{
    border-width: 0 0 2px;
}

input:focus, textarea:focus{
    outline: none;
}

textarea{
    border: none;
    resize: none;
}

#send{
    display: block;
    margin: auto;
    padding: 10px 0;
    width: 200px;
    border: 2px solid transparent;
    border-radius: 10px;
    color: #e9eaec;
    background-color: #7692ab;
    transition: background-color .5s, border .5s;
    cursor: pointer;
}

footer{
    width: 100%;
    padding: 10px 0;
}

footer p{
    text-align: center;
}

/* hover */
#navbar a:hover{
    background-color: #1d213b;
    /* border-radius: 5px; */
}

#send:hover{
    background-color: #1d213b;
    border: 2px solid #7692ab;
}

#connect li p:hover{
    border-bottom: 2px solid #fad02c;
}

@media (max-width: 900px) {

header{
    justify-content: space-between;
    padding: 0 20px;
}

#burger div{
    width: 30px;
    height: 5px;
    background-color: #fad02c;
    margin: 5px 0;
}

#navbar{
    position: relative;
}

#burger+ul{
    position: fixed;
    flex: none;
    right: 30px;
    display: none;
    padding-top: 8px;
}

#burger+ul a{
    display: block;
}

#navbar:hover #burger+ul{
    display: block;
}

#intro{
    flex-direction: column;
}

#dp{
    max-width: 300px;
    margin: 70px 0 30px;
}

#dp+section{
    max-width: 600px;
}

#connect{
    margin: 50px 0;
}

#contact_form{
    max-width: 600px;
}
}

@media (max-width: 770px){
    #projects h3+ul{
        flex-wrap: wrap;
    }

    #projects h3+ul li{
        margin: 0 20px 20px;
    }
}

@media (max-width: 600px) {
    header{
        padding: 0 10px;
    }

    #skill_webdev h3+ul, #skill_other h3+ul{
        flex-wrap: wrap;
    }

    #skill_webdev h3+ul li, #skill_other h3+ul li{
        margin: 0 20px 20px
    }

    #skill img{
        width: 80px;
        height: 80px;
    }

    #contact_me{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 320px){
    header{
        padding: 0 5px;
    }

    #dp+section{
        min-height: 500px;
    }

    
    #skill ul, #projects ul{
        margin: 20px 0;
    }

}
